/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
ul,
nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    color: #000;
    margin:0;
    padding:0;
    font-size:100%;
    text-decoration: none;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
h1 {
	font-family: helvetica;
}
.assistive-text,
.screen-reader-text {
    position: absolute;
    visibility: hidden;
}

/* BEGIN CUSTOM STYLES */

/*

font-family: 'Open Sans', sans-serif;
font-family: 'Bevan', serif;

color: #62449a; Purple
color: #00f900; Green

*/
/* HEADER */
.site-header {
    background: #000;
    display: block;
    width: 100%;
}
.nav-wrap {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    width: 90%;
}
.nav-wrap:after {
    clear: both;
    content: " ";
    display: block;
}
.site-header hgroup {
    display: block;
    float: left;
    margin: 10px 0 0;
    padding: 0;
    position: relative;
}
.site-title,
.site-logo {
    display: block;
    float: left;
    margin: 0;
}
.site-title {
    font-family: "helvetica neu", helvetica, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    position: relative;
    text-shadow: 1px 1px 0px #ccc;
    z-index: 1;
}
.site-logo {
    height: 25px;
    width: 40px;
}
.site-title a {
    color: #00f900;
    display: block;
}
.site-logo a {
    display: block;
}
.main-navigation {
    display: block;
    float: left;
    margin: 8px 0 0 30px;
    padding: 0;
}
.main-navigation .nav-menu {
    text-align: center;
}
.main-navigation .menu-item {
    display: inline-block;
    font-family: 'Bevan', serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin: 0 12px;
    text-transform: capitalize;
}
.main-navigation .menu-item a {
    border-bottom: solid 3px transparent;
    color: #fff;
    display: block;
    padding: 7px 0 6px;
    -webkit-transition: border 250ms ease-out;
       -moz-transition: border 250ms ease-out;
         -o-transition: border 250ms ease-out;
            transition: border 250ms ease-out;
}
.main-navigation .menu-item a:hover {
    border-bottom: solid 3px #fff;
    color: #00f900;
}
/* HEADER */




/* FEED */
.wrapper {
    margin: 0;
    width: 100%;
}
.wrapper:after,
.site-content:after,
.site-content article:after,
#lede:after {
    clear: both;
    content: " ";
    display: block;
}
#lede {
    width: 100%;
}
#feed {
    float: left;
    width: 60%;
}

/*margin: 0 auto;
    max-width: 1280px;
    position: relative;
    width: 90%;*/


/* Base Article Styles */
article {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.article-wrap {
    display: block;
}
article img {
    float: left;
    height: auto;
    margin-right: 20px;
    width: 150px;
}
article.format-image img {
    display: block;
    float: none;
    margin: 0 auto 10px;
    width: 100%;
}
article .category {
    border-right: 1px solid #000;
    display: inline-block;
    font-family: 'Bevan', serif;
    font-size: 12px;
    font-weight: 300;
    margin-right: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}
article .category a {
    color: #444;
}
article time {
    color: #888;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
article .entry-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.01em;
    margin: 5px 0 12px;
}
article .entry-content {
    color: #444;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 1em;
}


/* LEDE */
#lede {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
#lede article {
    border: 0;
}
#lede article.article-0 {
    float: left;
    margin-top: 40px;
    width: 60%;
}
#lede article.article-1,
#lede article.article-2 {
    clear: right;
    float: right;
    margin-top: 40px;
    width: 35%;
}
#lede article.article-1 {
    border-bottom: 1px solid #ccc;
}
#lede article.article-2 {
    margin-top: 0;
}
#lede article.article-1 img,
#lede article.article-2 img {
    display: block;
    float: left;
    margin-right: 20px;
    height: 180px;
    width: auto;
}
#lede article.article-1 .entry-content,
#lede article.article-2 .entry-content {
    font-size: 14px;
}
#lede article.article-1 .entry-meta,
#lede article.article-2 .entry-meta {
    display: none;
}

#lede article.article-0.super-lede {
    float: none;
    width: 100%;
}
#lede article.article-0.super-lede header,
#lede article.article-0.super-lede .entry-content,
#lede article.article-0.super-lede .entry-meta {
    margin: 0 auto;
    width: 80%;
}




/* Aside Styles */
article.format-aside .article-wrap {
    background: #00f900;
    padding: 20px 0;
    text-align: center;
}
article.format-aside .category,
article.format-aside time {
    display: none;
}
article.format-aside a,
article.format-aside p {
    color: #fff;
}
article.format-aside .entry-title {
    font-size: 36px;
}
article.format-aside .entry-content {
    color: ;
    font-size: 20px;
    font-weight: bold;
}
article.format-aside .entry-content p {
    margin-bottom: 0;
}



/* BASIC */
.widget-area {
    border-left: 1px solid #ccc;
    float: right;
    padding-left: 20px;
    width: 35%;
}
.widget-area aside {
    border-bottom: 1px solid #ccc;
    margin: 0 0 30px;
    padding-bottom: 30px;
}
/* BASIC */

/* Utilites */
.widget-title {
    font-family: 'Bevan', serif;
    font-size: 12px;
    text-transform: uppercase;
}


/* FOOTER */
footer {
    clear: both;
}


